<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <queries>
    <intent>
      <action android:name="android.speech.RecognitionService" />
    </intent>
  </queries>
  <application>
    <uses-native-library android:name="libvndksupport.so" android:required="false" />
    <uses-native-library android:name="libOpenCL.so" android:required="false" />
    <activity
      android:name="jp.tsubamechan.yuivrm.localai.YuiFilePickerActivity"
      android:exported="false"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />
  </application>
</manifest>
